<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> User </title>
    </head>
    <body>
        <form method="POST">
            <label for="name"> Name </label>
            <input type="text" id="uName" name="name">
            <br>
            <label for = "uAge"> Age </label>
            <input type="text" id="age" age="age">
            <br>
            <input type="submit">
	    </form>

	<h1> {{ .Name }} {{ .Age }} </h1>
	<p> Storing information in cookie </p>
	</body>
</html>

