<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Name</title>
</head>
<body>

<form method="POST">
    <label for="yourName">Type in your name:</label>
    <input type="text" id="yourName" name="name">
    <br>
    <input type="submit">
</form>

<h1>{{ .YourName }}</h1>
</body>
</html>
