<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> User </title>
    </head>
    <body>
    <h1>ADD NAME</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="data">
            <br>
            <input type="submit">
	    </form>
	<p> {{ .Name }} {{ .Age }} {{.}}<br> </p>
	</body>
</html>

